* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  /* font-family: "Poppins", sans-serif; */
  /* margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background: #eee;
}

section {
  padding: 1rem 1%;
}

.heading {
  text-align: center;
  padding: 0.5rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.heading span {
  background: var(--orange);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  font-size: 12px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--orange);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--orange);
}

/* .header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  background: var(--orange);
  color: #fff;
} */

#menu-btn {
  display: none;
}

header {
  float: left;
  background: #0000001a;
  color: #000;
  /* position: fixed; */
}
.brand-logo {
  max-width: auto;
  float: left;
  font-size: 30px;
  padding: 20px 0px;
  left: 20px;
}
.brand-logo img {
  max-width: 100%;
}
.navigation-p {
  margin: 0px;
  float: right;
}
.navigation-p li {
  list-style: none;
  float: left;
}
.navigation-p li a {
  color: #000;
  padding: 28px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}
.navigation-p li a i {
  width: 100%;
  font-size: 20px;
  margin-bottom: 7px;
  z-index: 1;
}
.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  padding-right: 10px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  margin: 0px;
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.navigation-p a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: orange;
}
#toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*-- Responsive CSS --*/
@media screen and (max-width: 767px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  html {
    font-size: 50%;
  }
  .navigation-p {
    position: fixed;
    width: auto;
    height: auto;
    background: #666;
    top: -100%;
    left: 50%;
    right: 10px;
    padding: 50px 0;
    padding: 50px 0px;
    /* transition: 1s; */
  }
  .navigation-p li {
    width: 100%;
  }

  .navigation-p li a {
    padding: 15px 15px;
    text-align: right;
    font-size: 16px;
    text-align: center;
  }
  .navigation-p li a i {
    width: auto;
    font-size: 30px;
    text-align: center;
  }
  .hide-menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  #toggle-btn:checked ~ nav .navigation-p {
    top: 0px;
  }
}
