body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
}

.side-nav {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #191b1f;
  height: 100vh;
  width: 230px;
}
.side-nav.navigation {
  padding-top: 5vh;
  border: 3px solid #fff;
  padding: 20px;
}

.side-nav.nav-left {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.menu {
  margin-left: 15px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  border-bottom: 1px solid rgb(97, 94, 94);
}

a:hover {
  background-color: rgb(19, 18, 18);
  color: rgb(148, 145, 145);
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 15px auto;
}

.material-icons-outlined {
  font-size: 30px;
}

header {
  font-size: 30px;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid rgb(97, 94, 94);
  text-align: center;
  color: white;
  user-select: none;
}
